<%- include('_header'); -%>

    <div class="flex-center">
        <div class="container w-25">
            <h3 class="mt-5">Wellcome to RMS</h3>
            <h4>v.1.0.0</h4>
            <form method="post" action="<%= locals.addition_path %>/login" class="form-group w-75 mt-5">
                <%= locals.error ? error : '' %>
                    <%= locals.success ? success : '' %>
                        <% if(locals.user) { %>
                            <p>Вы авторизованы как
                                <%= user.name %>.</p>
                            <p><a href="/admin/logout">Разлогиниться.</a></p>
                            <% } %>
                                <div class="form-field">
                                    <label>Логин</label>
                                    <input type="text" class="form-control" name="username" />

                                </div>
                                <div class="form-field">
                                    <label>Пароль</label>
                                    <input name="password" class="form-control" type="password" />
                                </div>
                                <small class="form-text text-muted">Используйте учетную запись CIS для авторизации.</small>
                                <div class="form-field mt-2">
                                    <button type="submit" class="btn btn-primary">Войти</button>
                                </div>
            </form>
        </div>
    </div>

    <%- include('_footer'); -%>