<%- include('_header'); -%>

    <form method="post" action="/login" class="login-form">
        <%= locals.error ? error : '' %>
            <%= locals.success ? success : '' %>
                <% if(locals.user) { %>
                    <p>Вы авторизованы как
                        <%= user.name %>.</p>
                    <p><a href="/admin/logout">Разлогиниться.</a></p>
                    <% } %>
                        <div class="form-field">
                            <label>Логин</label>
                            <input type="text" name="username">
                        </div>
                        <div class="form-field">
                            <label>Пароль</label>
                            <input name="password" type="password">
                        </div>
                        <div>
                            <button type="submit">Войти</button>
                        </div>
    </form>

    <%- include('_footer'); -%>